@using SimpleApp.ViewModels
@model IEnumerable<StormSessionViewModel>

@{
    ViewBag.Title = "Brainstormer";
    Layout = "_Layout";
}

<h2>Brainstorm Sessions</h2>
<div class="row">
    <div class="col-md-8">
        @foreach (var storm in Model)
        {
            <div class="card mb-3 w-50">
                <div class="card-body">
                    <h5 class="card-title">@storm.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@storm.IdeaCount ideas</h6>
                    <p class="card-text"><small>Created on @storm.DateCreated.ToString()</small></p>
                    <a href="@Url.Action("Details","Brainstorm", new {id=@storm.Id})">Add Ideas</a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add New Session
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Brainstorm" asp-action="Index">
                    <fieldset class="form-group">
                        <label for="sessionName">Session Name</label>
                        <input type="text" class="form-control" id="sessionName" name="SessionName" placeholder="Stupendous session" required />
                    </fieldset>
                    <input type="submit" value="Save" id="SaveButton" name="SaveButton" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
